prefs/alfred/Alfred.alfredpreferences/clipboard/
prefs/alfred/Alfred.alfredpreferences/preferences/local/
prefs/alfred/Alfred.alfredpreferences/preferences/remote/
prefs/alfred/Alfred.alfredpreferences/remote
prefs/alfred/Alfred.alfredpreferences/snippets

prefs/atom/.apm
prefs/atom/.node-gyp
prefs/atom/blob-store
prefs/atom/compile-cache
prefs/atom/packages
prefs/atom/storage

prefs/gnupg/*.gpg
prefs/gnupg/gpg.conf.*
prefs/gnupg/private-keys-*
prefs/gnupg/random_seed

shell/config/configstore/
shell/ssh/id_rsa*
shell/ssh/known_hosts
