# Ignore Desktop Services Store files
.DS_Store

# Ignore non-customized configuration files
src/shell/config/fish/*
!src/shell/config/fish/config.fish
!src/shell/config/fish/fish_plugins

src/shell/config/fish/conf.d/*
!src/shell/config/fish/conf.d/__nvm_use_on_cd.fish
