Package Control.*-ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run

prefs/alfred/Alfred.alfredpreferences/clipboard/
prefs/alfred/Alfred.alfredpreferences/preferences/local/
prefs/alfred/Alfred.alfredpreferences/preferences/remote/
prefs/alfred/Alfred.alfredpreferences/remote

shell/config/configstore/
shell/config/fish/
shell/ssh/id_rsa*
shell/ssh/known_hosts
