"*":
  core:
    disabledPackages: [
      "background-tips"
      "metrics"
      "exception-reporting"
      "hashy"
      "linter-sass-lint"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "dracula-theme"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Source Code Pro for Powerline"
    invisibles: {}
    showInvisibles: true
  "file-icons":
    coloured: false
  "git-plus":
    general:
      analytics: false
  linter: {}
  "linter-eslint": {}
  "linter-stylelint":
    useStandard: true
  "linter-ui-default":
    showPanel: true
  pigments:
    markerType: "dot"
    mergeColorDuplicates: true
    sortPaletteColors: "by color"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
