"*":
  core:
    disabledPackages: [
      "background-tips"
      "metrics"
      "exception-reporting"
      "hashy"
      "linter-rubocop"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-snazzy-clear-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Hack"
    invisibles: {}
    showInvisibles: true
  "file-icons":
    coloured: false
  "git-plus":
    general:
      analytics: false
  "linter-stylelint":
    useStandard: true
  pigments:
    markerType: "dot"
    mergeColorDuplicates: true
    sortPaletteColors: "by color"
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
