# Ignore all files directly in this directory
/*

# Track specific subdirectories
!/bat/
!/bottom/
!/eza/
!/fish/
!/ghostty/
!/herdr/
!/hunk/
!/lazygit/
!/mise/
!/opencode/
!/tmux/
!/zed/

# Track specific root-level files
!starship.toml
!.gitignore
!.lazycommit.prompts.yaml
