# Ignore all files directly in this directory
/*

# Track specific subdirectories
!/bat/
!/eza/
!/fish/
!/ghostty/
!/herdr/
!/lazygit/
!/mise/
!/zed/

# Track specific root-level files
!starship.toml
!.gitignore
